<div class="interactive-wrapper">

	<div class="gv-chart-title">Seats by county</div>
	<div class="gv-chart-subtitle">Dáil seats in each county</div>

	<div class="gv-maps-wrapper">
		<div class='gv-map-wrapper' id="gv-geographical"></div>

		<div class='tooltip'>
			<div class='tooltip-title'>
				<div class="tooltip-constituency"></div>
			</div>
			<div class='tooltip-header'>
				<div class="tooltip-percentage">%</div>
			</div>
			<div class="tooltip-results"></div>
		</div>


		<div class='gv-map-wrapper' id="gv-cartogram"></div>
	</div>
</div>
