<div class="interactive-wrapper">

	<div class="gv-chart-title"></div>
	<div class="gv-chart-standfirst"></div>

	<div class="gv-dropdown-menu">
		<select class="gv-county-filter" data-team="Jump to a county" name="gv-county-filter"></select>
		<svg width="24" height="10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 10">
			<path d="M0 .7l10.5 8.4 1.1.9 1.1-.9 10.5-8.4-.5-.7-11.1 6.3-11-6.3-.6.7z" fill="#ffffff"/>
		</svg>
	</div>

	<div class="gv-maps-wrapper">
		<div class='gv-map-wrapper' id="gv-geographical"></div>

		<div class='tooltip'>
			<div class='tooltip-title'>
				<div class="tooltip-constituency"></div>
			</div>
			<div class='tooltip-header'>
				<div class="tooltip-percentage">%</div>
			</div>
			<div class="tooltip-results"></div>
		</div>


		<div class='gv-map-wrapper' id="gv-cartogram"></div>
	</div>

	<div class="gv-source"></div>
</div>
