@import "mq";
@import "fonts";
@import "palette";
@import "enhancer";
// Uncomment for embeds
@import "embed";
// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";



.element-atom,
.interactive-atom, body {

	//margin: 0px !important;
}

.element-atom{
	z-index:1000000;
	//margin-left: 240px !important;
	//margin: 0px !important;
	background-color: white;
	max-width: 860px;
	background:white;

}

.interactive-wrapper{
	border-top: 1px solid $neutral-92;
	border-bottom: 1px solid $neutral-92;
}

.gv-maps-wrapper{

	//border: 1px solid red;
	display: flex;
	width: 100%;

	//align-items:center;

	flex-direction: column;

	@include mq(600px){
		flex-direction: row;
		//justify-content:space-between;
	}

	.gv-map-wrapper{

		width: 100%;
	}
	

	#gv-geographical{
		display: flex;
		min-width: 300px;
		max-width: 320px;

		//border:1px solid red;
	}

	#gv-cartogram{
		//border:1px solid red;
		display: flex;

		min-width: 300px;
		max-width: 440px;

		@include mq(mobile)
		{
			width: 100%;
		}
		@include mq(tablet)
		{
			width: 50%;
		}
		
	}
}

.tooltip{
	pointer-events: none;
	min-width:20%;
 	padding:12px;
 	font-size: 14px;
 	line-height: 16px;
 	font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
 	background: rgba(255, 255, 255, 0.95);
 	border: 1px solid #333;
 	
 	color: #333333;

 	opacity: 0;

 	display: flex;

 	flex-direction: column;

 	position: absolute;

 	@include mq(200px)
 	{	
 		width: calc(100% - 1.9em);

 	}
 	@include mq(600px)
 	{
 		max-width: 150px;

 	}


 	&.over{
 		opacity: 1;
 	}


 	.tooltip-title{
 		font-size: 16px;
 		font-family: "Guardian Headline","Guardian Egyptian Web","Guardian Headline Full",Georgia,serif;
 		font-weight: bold;
 		color: #000;
 		font-weight: 800;
 		padding-bottom: 8px;
 		margin-bottom:5px;
 		line-height: 12px;
 		display: flex;
 		width: 100%;
 	}

 	.tooltip-row {
 		display: flex;
 		flex-direction: row;
 		flex: 1;
 		min-width: 0;

 		.tooltip-party{

 			white-space: nowrap;
 			overflow: hidden;
 			text-overflow: ellipsis;
 		}
 	}

 	.tooltip-row:not(:last-child){
 		margin-bottom: 5px;
 		border-bottom: 2px dotted #b3b3b3;
 		height:20px;
 	}

 	.tooltip-constituency, .tooltip-party{
 		flex: 100%;
 	}

 	#tooltip-color{
 		width: 8px;
 		height: 8px;
 		margin-right: 5px;
 		margin-top: 4px;
 	}

 	.tooltip-percentage{

 		text-align:right;
 	}
 }

 [class="FF"]{fill:#3db540; background-color: #3db540;}
 [class="FG"]{fill:#00b2ff;  background-color: #00b2ff;}
 [class="IO"]{fill:#999999;  background-color: #999999;}
 [class="LAB"]{fill:#c70000;  background-color: #c70000;}
 [class="SF"]{fill:#236925;  background-color: #236925;}
 [class="GP"]{fill:#4B8878;  background-color: #4B8878;}
 [class="SD"]{fill:#ffe500;  background-color: #ffe500;}
 [class="Others"]{fill:#cccccc;  background-color: #cccccc;}

 .constituency{
 	fill:$neutral-96;
 }

 .geo-border{
 	stroke:$neutral-86;
 }

 .dublin-border{
 	fill:none;
 	stroke:$neutral-60;
 	stroke-width:1.5px;
 }

 .constituency-hex{
 	fill-opacity: 0;
 	stroke: white;
 	stroke-width: 2px;
 }

 #gv-geographical text{
 	font-size: 14px;
 	font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
 	color: #333;

 }

 .dublin-line{
 	stroke:#333;
 	stroke-width:1px;
 }

 .highlighted{
 	stroke:#333;
 	fill:none;
 	stroke-width:1.5;
 	stroke-linecap: "round";
 }

 .carto-highlighted{
 	stroke:#333;
 	fill:none;
 	stroke-width:2.5;
 	stroke-linecap: "round";
 }

.gv-chart-title {
    font-size: 20px;
    line-height: 24px;
    font-family: "Guardian Headline","Guardian Egyptian Web","Guardian Headline Full",Georgia,serif;
    font-weight: normal;
    font-weight: 700;
}

.gv-chart-subtitle {
    font-size: 14px;
    line-height: 20px;
    font-family: "Guardian Text Egyptian Web",Georgia,serif;
    margin-bottom: 12px;
}



 